.header {
  width: 100%;
  height: 80px;
  background-color: #242f9b;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  &__title {
    height: 100%;
    color: #ffffff;
    text-decoration: none;
    &:hover {
      background: #4c55b4;
    }
    & h1 {
      line-height: 80px;
      cursor: pointer;
    }
  }
}

.sign-out-button {
  color: #ffffff;
  margin-right: 25px;
  &:focus-visible {
    outline: #fff auto 1px;
  }
}
